<div class="container bodyform">               
    <div class="row justify-content-center mt-5 ansBox">
        <div class="col-lg-6 ">
            <div class="boxWraper  mt-5">
                <h3 style="text-align: center; color: brown; font-weight: 800;">Welcome!</h3>
                <div class="box">
                    <p style="font-weight: 600 ;">Hi User,</p>
                    <p>Welcome to our Digital World.</p>                   
                </div>
            </div>
        </div>
    </div>
</div>